/*css styles for index.js*/

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{}

.headerTab {
  height: 11vh;
  width: 100%; 
  position: sticky;
  border: 0px;
}

.wrraperHeader {
  width: 100%;
  height: 100%;
  display: flex; 
  background-color: #D97A2B;
}

.restaurantName {
  font-size: 2rem;
  align-self: center;
  justify-self: left;  
  margin-left: 10px;
  color: #FBF6F6;
  font-style: italic;
}

.contentControl {
  align-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto; 
  overflow: hidden;
}

nav button {
  font-size: 1.4rem;
  padding: 0px;
  overflow: hidden;
  margin-left: 30px;
  width: 100px;
  border-radius: 3px;
  border: 0px;
  background-color: #D97A2B;
  color: #FBF6F6;
  font-style: italic;
}