/*css styles for index.js*/

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{}

.headerTab {
  height: 7vh;
  width: 100vw; 
  position: sticky;
  border: 0px;
}

.wrapperHeader {
  width: 100%;
  height: 100%;
  display: flex; 
  background-color: #D97A2B;
}

.restaurantName {
  font-size: 2rem;
  align-self: center;
  justify-self: left;  
  margin-left: 10px;
  color: #FBF6F6;
  font-style: italic;
}

.contentControl {
  align-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto; 
  overflow: hidden;
}

nav button {
  font-size: 1.4rem;
  padding: 0px;
  overflow: hidden;
  margin-left: 30px;
  width: 100px;
  border-radius: 3px;
  border: 0px;
  background-color: #D97A2B;
  color: #FBF6F6;
  font-style: italic;
}

#content{}

.home{
  width: 100vw;
  height: 1150px;
  margin: 0px auto;
}

.introduction{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div img {
  overflow: hidden;
}

.imageContainer {
  margin: 0px auto;
  width: fit-content;
}

.textImage {
  color: #D97A2B; 
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  background-color: #D97A2B; 
  color: #FBF6F6;
  width: 100vw;
  vertical-align: -30px; 
}